<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="headerfiles(title)">
	<meta charset="UTF-8" />
	<link th:href="@{/css/style.css}" rel="stylesheet">
	<title th:text="${title}"></title>
	<link rel="stylesheet" href="//use.fontawesome.com/releases/v5.15.3/css/all.css">
</head>

<body>
	<!--HEADER-->
	<header th:fragment = "header">
		<div class="streamnet-logo">
			<img width="180px" src="/images/logo.png">
		</div>
		<nav class="main-nav">
			<a class="active" th:href="@{/default}">Home</a>
			<a th:href="@{/series}">Serie TV</a>
			<a th:href="@{/films}">Film</a>
			<a th:href="@{/laMiaLista}">La mia lista</a>
  		</nav>
  		<nav class="sub-nav">
  			<a th:href= "@{/register}"><i class="fas fa-user-circle i-register"></i></a>
  		</nav>
	</header>
  	<!--FINE HEADER-->

  <footer th:fragment = "footer">
        <div class="footer-text">
        	<div>
        		<p>
                	Sito web di STREAMNET.
				</p>
        	</div>
        	<div>
        		<p>
                	© 2021 - 2021 STREAMNET
				</p>
        	</div>
        </div>
        <ul class="footer-social">
            <li>
                <a href="#"><i class="fab fa-twitter-square i-social"></i></a>
            </li>
            <li>
                <a href="#"><i class="fab fa-google-plus-square i-social"></i></a>
            </li>
            <li>
                <a href="#"><i class="fab fa-facebook-square i-social"></i></a>
            </li>
            <li>
                <a href="#"><i class="fab fa-instagram-square i-social"></i></a>
            </li>
        </ul>
</footer>
</body>
</html>