<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/components.html :: headerfiles(title=#{pageTitle.streamNet})"></head>

<body>
 <header th:replace="/fragments/components.html :: header"></header>
 <section>
 	<div class="container-operazioni-admin">
 	<ul>
 		<li th:each="stagione : ${stagioni}">
 			<p th:text="${stagione.serieTv.titolo}"></p>
 			<a th:href="'/admin/aggiungiStagioneAllaSerie' + '/' + ${stagione.id} + '/' + ${stagione.serieTv.id}" th:text="'Stagione: ' + ${stagione.numero}"></a>
 		</li>
 	</ul>
 	</div>
 </section>
  
 <footer th:replace = "/fragments/components.html :: footer"></footer>
</body>
</html>