<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/components.html :: headerfiles(title=#{pageTitle.streamNet})"> </head>
<body>
<header th:replace = "/fragments/components.html :: header"></header>
<section id="section-form">
<div class="container-form-entity">
	<h1>Form film</h1>
	<form th:action="@{/admin/film}" method="POST" th:object="${film}">
			<div>
				<div th:if="${#fields.hasGlobalErrors()}">
  					<p style="color: white; font-size: 1.8rem; font-weight: bold;"th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
				</div>
			</div>
			<div>
				<p>Titolo:</p>
            	<input type="text" placeholder="titolo" th:field="*{titolo}"/>
            	<div th:if="${#fields.hasErrors('titolo')}" th:errors="*{titolo}"></div>
			</div>	
			
			<div>
				<p>Anno di uscita:</p>
            	<input type="text" placeholder="anno di uscita" th:field="*{annoDiUscita}"/>
            	<div th:if="${#fields.hasErrors('annoDiUscita')}" th:errors="*{annoDiUscita}"></div>
			</div>
			
			<div>
            	<p>Descrizione:</p>
            	<input type="text" placeholder="descrizione" th:field="*{descrizione}"/>
            	<div th:if="${#fields.hasErrors('descrizione')}" th:errors="*{descrizione}"></div>
        	</div>
        	
        	<div>
            	<p>Attori:</p>
            	<input type="text" placeholder="attori" th:field="*{attori}"/>
            	<div th:if="${#fields.hasErrors('attori')}" th:errors="*{attori}"></div>
        	</div>
  			<div>
            	<p>Video:</p>
            	<input type="text" placeholder="video" th:field="*{video}"/>
            	<div th:if="${#fields.hasErrors('video')}" th:errors="*{video}"></div>
        	</div>
        	
        	<div>
            	<p>Genere:</p>
            	<input type="text" placeholder="genere" th:field="*{genere}"/>
            	<div th:if="${#fields.hasErrors('genere')}" th:errors="*{genere}"></div>
        	</div>
        	
        	<div>
            	<p>Poster immagine URL:</p>
            	<input type="text" placeholder="poster immagine URL" th:field="*{posterImmagine}"/>
            	<div th:if="${#fields.hasErrors('posterImmagine')}" th:errors="*{posterImmagine}"></div>
        	</div>
        	
        	<div>
            	<p>Durata:</p>
            	<input type="text" placeholder="durata" th:field="*{durata}"/>
            	<div th:if="${#fields.hasErrors('durata')}" th:errors="*{durata}"></div>
        	</div>
        	
        	<div>
            	<p>Immagine:</p>
            	<input type="text" placeholder="immagine" th:field="*{immagine}"/>
            	<div th:if="${#fields.hasErrors('immagine')}" th:errors="*{immagine}"></div>
        	</div>
        	<div>
            	<span>Regista:</span>
  				<select th:field="*{registaFilm}">
       				<option th:each="regista : ${registi}" th:value="${regista.id}" th:text="|${regista.nome} ${regista.cognome}|"></option>
    			</select>
        	</div>
			
			<div>
                <button type="submit">Invio</button>
        	</div>
	</form>
</div>
</section>
<footer th:replace = "/fragments/components.html :: footer"></footer>
</body>
</html>