<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/components.html :: headerfiles(title=#{pageTitle.streamNet})"></head>

<body>
  <header th:replace = "/fragments/components.html :: header"></header>
  
  <section id="section-video">
  	<div class="main-video">
  		<iframe width="720" height="480"  th:src="${film.video}" frameborder="0" allow="accelerometer; autoplay; clipboard-write;
		 encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
		</iframe>
  	</div>
  	<div class="container-serie-info">
  		<div class="col">
  			<div class="riga">
  				<div><p th:text="'Titolo: ' + ${film.titolo}"></p></div>
  				<div><p th:text="'Durata: ' + ${film.durata} + 'min'"></p></div>
  			</div>
  			<div class="riga">
  				<div><p th:text="'Descrizione: ' + ${film.descrizione}"></p></div>
  			</div>
  		</div>
  		
  		<div class="col"> 
  			<div>Attori:<p th:text="${film.attori}"></p></div>
  			<div>Genere:<p th:text="${film.genere}"></p></div>
  			<div>Anno di uscita:<p th:text="${film.annoDiUscita}"></p></div>
  			<div th:if="${film.registaFilm}!=null">Regista:<p th:text="|${film.registaFilm.nome}${film.registaFilm.cognome}|"></p></div>
  			<div>Lingua:<p th:text="${film.lingua}"></p></div>
  			
  			<div class="container-nellaMiaLista" th:if="${film.nellaMiaLista}==false">
  				<p>Aggiungi alla mia lista</p>
  				<form th:action="@{'/aggiungiFilmAllaMiaLista' + '/' + ${film.id}}" method="GET" th:object="${film}">
  					<button class="nellaMiaLista-button" type="submit"><i class="fas fa-plus-circle"></i></button>
 	 			</form>
  			</div>
  			
  			<div class="container-nellaMiaLista" th:unless="${film.nellaMiaLista}==false">
  				<p>Rimuovi dalla mia lista</p>
  				<form th:action="@{'/rimuoviFilmDallaMiaLista' + '/' + ${film.id}}" method="GET" th:object="${film}">
  					<button class="nellaMiaLista-button" type="submit"><i class="fas fa-times-circle"></i></button>
  				</form>
  			</div>
  		</div>
  	</div>
  </section>
  
  <footer th:replace = "/fragments/components.html :: footer"></footer>
</body>
</html>