<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/components.html :: headerfiles(title=#{pageTitle.streamNet})"></head>

<body>
  <header th:replace = "/fragments/components.html :: header"></header>
  <section>
  	<h1>Film crime</h1>
  	<div class="content-container">
  		<a><img src="https://raw.githubusercontent.com/carlosavilae/Netflix-Clone/master/img/p1.PNG"><img></a>
  		<a><img src="https://raw.githubusercontent.com/carlosavilae/Netflix-Clone/master/img/p1.PNG"><img></a>
  		<a><img src="https://raw.githubusercontent.com/carlosavilae/Netflix-Clone/master/img/p1.PNG"><img></a>
  	</div>
  	
  </section>
  <footer th:replace = "/fragments/components.html :: footer"></footer>
</body>
</html>