<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/components.html :: headerfiles(title=#{pageTitle.streamNet})"></head>

<body>
  <header th:replace = "/fragments/components.html :: header"></header>
  <section>
  	<div class="content-container">
  		<a th:each="film : ${films}" th:href="'/film' + '/' + ${film.id}" 
  		th:object="${film}" th:if="${film.nellaMiaLista} == true"><img th:src="${film.immagine}"></a>
  		<a th:each="serie : ${series}" th:href="'/serie' + '/' + ${serie.id}" 
  		th:object="${serie}" th:if="${serie.nellaMiaLista} == true"><img th:src="${serie.immagine}"></a>
  	</div>
  </section>
  <footer th:replace = "/fragments/components.html :: footer"></footer>
</body>
</html>