<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/components.html :: headerfiles(title=#{pageTitle.streamNet})"> </head>
<body id="body-form">
<section id="section-form">
<div class="container-form">
	<h1>Login</h1>
	<form th:action="@{/login}" method="POST">		
			<div>
				<p>Username:</p>
				<input name="username" type="text" placeholder="Username" required/>
			</div>	
			
			<div>
				<p>Password:</p>
				<input name="password" type="password" placeholder="Password" required />
			</div>
			
			<div>
				<button type="submit">Invio</button>
			</div>
			
			<div>
				<a th:href="@{/register}">Prima volta su Streamnet?Registrati.</a>
			</div>
			
	</form>
</div>
</section>
</body>
</html>