<!DOCTYPE html>
<html>
<head th:replace="/fragments/components.html :: headerfiles(title=#{pageTitle.streamNet})"></head>

<body>
	<header th:replace="/fragments/components.html :: header"></header>
	<form th:action="@{/admin/regista}" method="POST" th:object="${regista}">
		<div>
			<div th:if="${#fields.hasGlobalErrors()}">
  				<p style="color: #e61919; font-size: 1.8rem; font-weight: bold;"th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
			</div>
			<div>
      			<span >Nome:</span>
      			<span><input type="text" th:field="*{nome}"></span>
      			<span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span>
  			</div>
  			<div>
      			<span>Cognome:</span>
      			<span><input type="text" th:field="*{cognome}"></span>
      			<span th:if="${#fields.hasErrors('cognome')}" th:errors="*{cognome}"></span>
  			</div>
  			<div>
      			<span>Data di nascita:</span>
      			<span><input type="text" th:field="*{dataDiNascita}"></span>
      			<span th:if="${#fields.hasErrors('dataDiNascita')}" th:errors="*{dataDiNascita}"></span>
  			</div>
  			<div>
      			<span>Biografia:</span>
      			<span><input type="text" th:field="*{biografia}"></span>
      			<span th:if="${#fields.hasErrors('biografia')}" th:errors="*{biografia}"></span>
  			</div>
  			<div th:if="${registi}!=null">
      			<span>Regista:</span>
    			<select th:field="*{registaSerie}">
    				<option th:each="regista : ${registi}" th:value="${regista.id}" th:text="|${regista.nome} ${regista.cognome}|"></option>
    			</select>
  			</div>
  			<div id="submit-button">
      			<span><button type="submit">Invio</button></span>
  			</div>
		</div>
	</form>
	<footer th:replace="/fragments/components.html :: footer"></footer>
</body>
</html>