<!DOCTYPE html>
<html>
<head th:replace="/fragments/components.html :: headerfiles(title=#{pageTitle.streamNet})"></head>
<body>
<header th:replace="/fragments/components.html :: header"></header>
<section id="section-form">
<div class="container-form-entity">
	<form th:action="@{/admin/regista}" method="POST" th:object="${regista}">
	<h1>Form regista</h1>
		<div>
			<div th:if="${#fields.hasGlobalErrors()}">
  				<p style="color: #e61919; font-size: 1.8rem; font-weight: bold;"th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
			</div>
		</div>
			<div>
      			<p >Nome:</p>
      			<input type="text" th:field="*{nome}"/>
      			<div th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></div>
  			</div>
  			<div>
      			<p>Cognome:</p>
      			<input type="text" th:field="*{cognome}"/>
      			<div th:if="${#fields.hasErrors('cognome')}" th:errors="*{cognome}"></div>
  			</div>
  			<div>
      			<p>Data di nascita:</p>
      			<input type="date" th:field="*{dataDiNascita}"/>
      			<div th:if="${#fields.hasErrors('dataDiNascita')}" th:errors="*{dataDiNascita}"></div>
  			</div>
  			<div>
      			<p>Biografia:</p>
      			<input type="text" th:field="*{biografia}"/>
      			<div th:if="${#fields.hasErrors('biografia')}" th:errors="*{biografia}"></div>
  			</div>
  			<div>
      			<button type="submit">Invio</button>
  			</div>
  	</form>
</div>
</section>
<footer th:replace="/fragments/components.html :: footer"></footer>
</body>
</html>