<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/components.html :: headerfiles(title=#{pageTitle.streamNet})"></head>

<body>
  <nav th:replace = "/fragments/components.html :: navbar"></nav>
  <h1>serie da modificare:</h1>
  <ul>
  	<li th:each="serie : ${series}">
  		<a th:href="@{'/admin/modificaSerie' + '/' + ${serie.id}}" th:text="${serie.titolo}"></a>
  	</li>
  </ul>
  <footer th:replace = "/fragments/components.html :: footer"></footer>
</body>
</html>