<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/components.html :: headerfiles(title=#{pageTitle.streamNet})"></head>

<body>
  <header th:replace = "/fragments/components.html :: header"></header>
  <section>
  	<h1 class="category-title">Serie tv Azione e avventura</h1>
  	<div class="content-container">
  		<a th:each="serie : ${series}" th:href="'/serie' + '/' + ${serie.id}" 
  		th:object="${serie}" th:if="${serie.genere} == 'Azione e avventura'"><img th:src="${serie.immagine}"></a>
  	</div>
  	
  	<h1 class="category-title">Serie tv Crime</h1>
  	<div class="content-container">
  		<a th:each="serie : ${series}" th:href="'/serie' + '/' + ${serie.id}" 
  		th:object="${serie}" th:if="${serie.genere} == 'Crime'"><img th:src="${serie.immagine}"></a>
  	</div>
  	
  	<h1 class="category-title">Serie tv Commedie</h1>
  	<div class="content-container">
  		<a th:each="serie : ${series}" th:href="'/serie' + '/' + ${serie.id}" 
  		th:object="${serie}" th:if="${serie.genere} == 'Commedia'"><img th:src="${serie.immagine}"></a>
  	</div>
  </section>
  <footer th:replace = "/fragments/components.html :: footer"></footer>
</body>
</html>