<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/components.html :: headerfiles(title=#{pageTitle.streamNet})"></head>

<body>
 <header th:replace="/fragments/components.html :: header"></header>
 <div>
 	<ul>
 		<li th:each="stagione : ${stagioni}">
 			<h1 th:text="'Stagione numero.' + ${stagione.numero}"></h1>
 			<a th:each="episodio : ${stagione.episodi}" th:href="'/episodio' + '/' + ${episodio.id}" th:text="${episodio.titolo} + 'episodio' + ${episodio.numero}"></a>
 		</li>
 	</ul>
 </div>
  
  <footer th:replace = "/fragments/components.html :: footer"></footer>
</body>
</html>