<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/components.html :: headerfiles(title=#{pageTitle.streamNet})"></head>

<body>
  <header th:replace="/fragments/components.html :: header"></header>
  <h1>Lista Stagioni:</h1>
  <ul>
  	<li th:each="stagione : ${stagioni}">
  		  		<a th:href="@{'/aggiungiStagioneAllaSerie' + '/' + ${stagione.id} + '/' + {stagione.serie.id}}"th:text="${stagione.numero}"></a>
  	</li>
  </ul>
  <footer th:replace = "/fragments/components.html :: footer"></footer>
</body>
</html>