<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/components.html :: headerfiles(title=#{pageTitle.streamNet})"></head>
<body>
  <header th:replace="/fragments/components.html :: header"></header>
  <section>
  <h1>Stagione da rimuovere:</h1>
  <div class="container-lista">
  <ul>
  	<li th:each="stagione : ${stagioni}">
  		<a th:href="@{'/admin/rimuoviStagione' + '/' + ${stagione.id}}" th:text="${stagione.numero}"></a>
  		
  	</li>
  </ul>
  </div>
  </section>
  <footer th:replace = "/fragments/components.html :: footer"></footer>
</body>
</html>