:root{
	--black:#141414;
	--white:#fff;
	--grey:#e5e5e5;
}

*{
	margin: 0px;
	padding: 0px;
}

body{
	background-color: var(--black);
	color: var(--white);
	display:flex;
	flex-direction: column;
	justify-content: space-between;
	font-family: Arial, Helvetica, sans-serif;
	width: 100vw;
	height: 100%;
}



/*navbar e footer*/
header{
	display: flex;
	justify-content: space-between;
	padding:20px;
}
.streamnet-logo{
	margin-right: 15px;
}
.main-nav{
	margin: 10px 0px 0px 0px;
	display: flex;
	align-items: center;
	width: 80%;
	height: 100%;
}
.main-nav a{
	text-decoration: none;
	color: var(--white);
	margin: 5px 11px 5px 11px;
}
.main-nav a:hover{
	color: var(--grey);
}
.sub-nav{
	display: flex;
	margin: 0px 10px 0px 0px;
}
.sub-nav a{
	text-decoration: none;
	color: var(--white);
	margin: 5px;
	font-size: 1.3rem;
}

.sub-nav a:hover{
	color: var(--grey);
}

footer{
	display: flex;
	justify-content: space-between;
}
.footer-text{
	display: flex;
	flex-direction: column;
	align-items: center;
	width:50%;
}
.footer-text div{
	display: flex;
}

.footer-social{
	display: flex;
}

.footer-social > li{
	list-style-type: none;
	padding: 0px 5px;
}
.i-social{
	font-size: 30px;
	color: var(--white);
}
.i-register{
	font-size: 30px;
}


/*section*/
section{
	padding: 50px;
	width: 100vw;
	height: 100%;
}
.content-container{
	display: flex;
	margin: 10px;
}
.content-container a{
	margin: 0px 5px 0px 5px;
	transition: transform .2s;
}
.content-container a:hover{
	margin: 0px 5px 0px 5px;
	transform: scale(1.3);
}
.content-container > a > img{
	max-width: 100%;
}
.category-title{
	padding-left: 20px;
}

/*form di login*/
.container-form-auth{
	width: 320px;
	height: 420px;
	background-color: var(--black);
	color: var(--white);
	box-sizing: border-box;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.container-form-entity{
	width: 550px;
	height: 650px;
	background-color: var(--white);
	color: var(--black);
	box-sizing: border-box;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.container-form-auth > form > div > input[type="text"],input[type="password"]{
	border: none;
	background: transparent;
	color:var(--white);
	width: 100%;
}
.container-form-auth > form > div{
	margin:7px 0px 7px 0px;
}
.container-form-entity > form > div{
	margin:4px 0px 4px 0px;
}
.container-form-auth > form > div > a{
	text-decoration: none;
	color:var(--grey);
	font-size: 15px;
}
.container-form-auth > h1{
	text-align: center;
	font-size: 22px;
	padding: 0px 0px 20px 0px;
}
.container-form-entity > h1{
	text-align: center;
	font-size: 22px;
	padding: 0px 0px 20px 0px;
}
.container-form-auth > form > div > button[type="submit"]{
	border: none;
	outline: none;
	height: 40px;
	background-color: red;
	color: var(--white);
	font-size: 18px;
	border-radius: 20px;
	width: 100%;
}

.container-form-entity > form > div > button[type="submit"]{
	border: none;
	outline: none;
	height: 40px;
	background-color: red;
	color: var(--black);
	font-size: 18px;
	border-radius: 20px;
	width: 100%;
}
#body-form{
	background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/b8e09d9c-d1e7-4800-afd9-810e41ace684/d7cebece-a1a3-4e34-9039-bb2124f3fdb9/IT-it-20210607-popsignuptwoweeks-perspective_alpha_website_large.jpg");
}
#section-form{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 50px 0px;
}

/*film/serieTv page*/
#section-video {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.sub-video{
	display: flex;
	width: 50%;
	height: 50%;
}
.sub-video div{
	display: flex;
}
.col{
	display: flex;
	flex-direction: column;
	margin:15px;
}
.col div{
	margin:5px;
}
.riga{
	display: flex;
}
.riga div{
	margin:5px;
}
.riga > div > p{
	font-size: 20px;
	font-weight: bold;
}
.container-operazioni-admin > ul > li{
	margin:5px 0px;
}
.container-operazioni-admin > h1{
	font-weight: bold;
	margin: 10px 0px;
}
.container-operazioni-admin > ul > li > a{
	text-decoration: none;
	color:var(--white);
	margin:10px 0px;
	font-style: italic;
}
.container-operazioni-admin > ul > li > a:hover{
	color: red;
}


.container-lista > ul > li > a {
	text-decoration: none;
	color:var(--white);
	margin:10px 0px;
	font-style: italic;
}

.container-lista > ul > li > a:hover{
	color: red;
}