<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/components.html :: headerfiles(title=#{pageTitle.streamNetAdmin})"></head>

<body>
  <nav th:replace = "/fragments/components.html :: navbar"></nav>
  <p>INDEX ADMIN</p>
  <ul>
  	<h4>Operazioni su film:</h4>
  	<li><a th:href="@{/admin/aggiungiFilm}">Aggiungi Film</a></li>
  	<li><a th:href="@{/admin/filmDaModificare}">Modifica Film</a></li>
  	<li><a th:href="@{/admin/filmDaRimuovere}">Rimuovi Film</a></li>
  	<h4>Operazioni su serie tv:</h4>
  	<li><a th:href="@{/admin/aggiungiSerie}">Aggiungi Serie</a></li>
  	<li><a th:href="@{/admin/serieDaModificare}">Modifica Serie</a></li>
  	<li><a th:href="@{/admin/serieDaRimuovere}">Rimuovi Serie</a></li>
  	<h4>Operazioni su regista:</h4>
  	<li><a th:href="@{/admin/aggiungiArtista}">Aggiungi Artista</a></li>
  	<li><a th:href="@{/admin/artistaDaModificare}">Modifica Artista</a></li>
  	<li><a th:href="@{/admin/artistaDaRimuovere}">Rimuovi Artista</a></li>
  	<h4>Operazioni sugli abbonamenti:</h4>
  	<li><a th:href="@{/admin/utentiModificaAbbonamento}">Modifica abbonamento di un utente</a></li>
  </ul>
  <footer th:replace = "/fragments/components.html :: footer"></footer>
</body>
</html>