<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/components.html :: headerfiles(title=#{pageTitle.streamNetAdmin})"></head>

<body>
  <nav th:replace = "/fragments/components.html :: navbar"></nav>
  <p>INDEX ADMIN</p>
  <ul>
  	<li><a th:href="@{/admin/aggiungiFilm}">Aggiungi Film</a></li>
  	<li><a th:href="@{/films}">Modifica Film</a></li>
  	<li><a th:href="@{/admin/rimuoviFilm}">Rimuovi Film</a></li>
  </ul>
  <footer th:replace = "/fragments/components.html :: footer"></footer>
</body>
</html>